$cnpja-green: #00E689;

.site-title {
  color: $white;
  font-size: 20px !important;
}

.side-bar {
  @include mq(lg) {
    // width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    // min-width: $nav-width;
    width: 264px;
    min-width: 264px;
  }
}

.main-content {
  @include mq(lg) {
    // margin-left: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    max-width: 1100px;
    margin-left: 280px;
  }
}

.navigation-list-child-list {

  .navigation-list-link {
    font-size: 14px !important;
  }
}

.navigation-list-link {
  color: $white;
  font-size: 16px;

  &.active {
    color: $cnpja-green;
  }
}
